<!-- views/trips/show.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/show.css">
  <title>Trip Details</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>

  <% if (trip) { %>
    <ul>
    <h2>Trip Details:</h2>
    <li><%= trip.startLocation %> to <%= trip.endLocation %></li>
    <li>Available Seats: <%= trip.availableSeats %></li>
    <li>Date: <%= trip.date.toDateString() %></li>
  </ul>
    <% if (user) { %>
      <ul>
      <h2>Driver Details:</h2>
      <li>Name: <%= user.name || 'N/A' %></li>
      <li>Age: <%= user.age || 'N/A' %></li>
      <li>Gender: <%= user.gender || 'N/A' %></li>
      <li>Email: <%= user.email || 'N/A' %></li>
    </ul>
    <% } else { %>
      <h2>Driver Details: Not Available</h2>
    <% } %>

    <% if (user && user._id.equals(currentUserId)) { %>
      <a href="/users/<%= user._id %>/trips/<%= trip._id %>/edit">EDIT</a>
      <form action="/users/<%= user._id %>/trips/<%= trip._id %>?_method=DELETE" method="POST">
        <button type="submit">DELETE</button>
      </form>
    <% } else { %>
      <!-- Check if the user has already booked the trip -->
      <% const isBooked = currentUserBookedTrips.includes(trip._id.toString()); %>
      <% if (trip.availableSeats > 0 && !isBooked) { %>
        <!-- Only show the Book button if the user didn't create the trip and hasn't booked it already -->
        <form action="/users/<%= currentUserId %>/trips/<%= trip._id %>/book" method="POST">
          <button type="submit">Book</button>
        </form>
      <% } else { %>
        <p><%= isBooked ? 'You have already booked this trip.' : 'No available seats.' %></p>
      <% } %>
    <% } %>
  <% } else { %>
    <h2>Trip not found</h2>
  <% } %>
</body>
</html>
